<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 text-center">
            <img [src]="pokemonDetails.sprites.front_default" alt="Pokemon Image" class="img-fluid rounded-circle mb-3" width="200">
            <button (click)="playCry(pokemonDetails)" class="btn btn-primary">Play Cry</button>
        </div>

        <div class="col-md-8">
            <h1 class="display-4 text-uppercase mb-4">{{ pokemonDetails.name }}</h1>
            <div class="border-top border-bottom pt-4 pb-4">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-2"><strong>Height:</strong> {{ pokemonDetails.height }}</p>
                        <p class="mb-2"><strong>Weight:</strong> {{ pokemonDetails.weight }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-2"><strong>Abilities:</strong></p>
                        <ul class="list-unstyled">
                            <li *ngFor="let ability of pokemonDetails.abilities; let last = last">
                                {{ ability.ability.name }}<span *ngIf="!last">, </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-2"><strong>Type:</strong></p>
                        <ul class="list-unstyled">
                            <li *ngFor="let type of pokemonDetails.types; let last = last">
                                {{ type.type.name }}<span *ngIf="!last">, </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-2"><strong>Base Experience:</strong> {{ pokemonDetails.base_experience }}</p>
                        <p><strong>Stats:</strong></p>
                        <ul class="list-unstyled">
                            <li *ngFor="let stat of pokemonDetails.stats">{{ stat.stat.name }}: {{ stat.base_stat }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-3 text-center">
            <h3 class="text-uppercase mb-3">Front Default</h3>
            <img [src]="pokemonDetails.sprites.front_default" alt="Front Default Sprite" class="img-fluid rounded">
        </div>
        <div class="col-md-3 text-center">
            <h3 class="text-uppercase mb-3">Front Shiny</h3>
            <img [src]="pokemonDetails.sprites.front_shiny" alt="Front Shiny Sprite" class="img-fluid rounded">
        </div>
        <div class="col-md-3 text-center">
            <h3 class="text-uppercase mb-3">Back Default</h3>
            <img [src]="pokemonDetails.sprites.back_default" alt="Back Default Sprite" class="img-fluid rounded">
        </div>
        <div class="col-md-3 text-center">
            <h3 class="text-uppercase mb-3">Back Shiny</h3>
            <img [src]="pokemonDetails.sprites.back_shiny" alt="Back Shiny Sprite" class="img-fluid rounded">
        </div>
    </div>
</div>